fastapi
uvicorn[standard]
celery[redis]
sqlalchemy
alembic
psycopg2-binary
minio
python-multipart
pdfplumber
pypdf
openai
pydantic-settings
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
openpyxl
requests>=2.31
